# Ignore node_modules and logs
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment variables
.env

# Ignore build and cache files
dist/
.cache/
coverage/

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
